@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Pretendard-Regular";
}

.mainContainer {
    width: 100wv;
    height: 100vh;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}

.addBeaconDes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.beaconIcon {
    color: white;
    align-items: flex-start;
}
.information {
    color: white;
    align-items: flex-end;
    font-size: 15px;
}

.picContainer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5%;
    margin-bottom: 2%;
    justify-content: center;
    border-radius: 50px;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.pic {
    width: 20px;
}

.picItem {
    display: flex;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.titleContainer {
    padding-top: 1.5vh;
    width: 100%;
    height: 17vh;
    margin-bottom: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.titleImage {
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 300px; /* 부모 요소에 맞게 너비를 100%로 설정 */
    height: 90%; /* 부모 요소에 맞게 높이를 100%로 설정 */
    color: black;
    font-size: xx-large;
    white-space: pre-wrap;
}

.stationInfo {
    width: inherit;
    height: inherit;
    align-items: center;
    display: flex;
    padding-left: 16%;
}

.horizontalLine {
    border-top: 1px solid black; /* 가로선 스타일 지정 */
    margin: 20px 0; /* 위아래 여백 추가 */
}

.beaconScroll {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 90%;
}

.beaconListItem,
.sosbeaconListItem {
    font-weight: 800;
    width: 100%;
    height: 100px;
    display: flex;
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-color: rgba(34, 34, 34, 1);
}

.beaconListItem:hover {
    background-color: #6565ff;
}

.beaconListItem:hover,
.sosbeaconListItem:hover {
    transition: 0.3s;
    background-color: #6565ff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); /* 그림자 설정 (불투명도 조정) */
}

.rightContainer {
    margin-right: 2%;
    width: 25vw;
    height: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.beaconList {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    background-color: white;
}

.buttonContainer {
    width: 100%;
    height: 10%;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

.addEdgeButton,
.floatingButton {
    background-color: white;
    color: black;
    font-weight: 800;
    border-radius: 50px;
    width: 30%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    align-items: center;
}

.numberOfUser {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.sosbeaconListItem {
    flex-direction: column;
    animation: sos 1s infinite;
}

.model {
    position: relative;
    width: 60vw;
    height: 70vh;
    background-color: white;
}

.newBeaconItem {
    position: absolute;
    height: 100px;
    width: 100px;
    z-index: 999;
}

.beaconItem {
    position: absolute;
    height: 100px;
    width: 100px;
}

.edge {
    position: absolute;
}

.contentContainer {
    height: 80vh;
    width: 100%;
    display: flex;
    padding-left: 30px;
    align-items: center;
    justify-content: space-between;
}

.leftContainer {
    background-color: white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.desContainer {
    height: 20%;
}

.addEdgeButton:hover,
.floatingButton:hover {
    transition: 0.3s;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.locateButton {
    background-color: azure;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.locateButton:hover {
    transition: 0.3s;
    background-color: grey;
    color: white;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); /* 그림자 설정 (불투명도 조정) */
}

.dropdownContainer {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0%;
    z-index: 999;
    border-radius: 20px;
}

.inputContainer input {
    background-color: antiquewhite;
    appearance: none;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

.addContentContainer {
    border: 1px solid white;
    display: flex;
    width: 90%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

.titleBox {
    width: 100%;
    height: 25%;
    margin-bottom: 10px;
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
}

.optionBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeTitle {
    font-size: 30px;
    color: black;
}

.dropdownInBox {
    margin: 20px;
    width: 60%;
    cursor: pointer;
    padding: 8px;
    position: relative;
    display: block;
    text-align: left;
    border-radius: 20px;
    box-sizing: border-box;
    color: black;
    background-color: rgba(252, 212, 8, 1);
    color: black;
    font-weight: 800;
}

.selectedItem {
    display: flex;
    height: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.beaconId {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    z-index: 999;
}

.dropdownItem {
    border-radius: 20px;
    padding: 10px;
    background-color: #ccc;
    color: black;
    margin: 5px;
}

.dropdownItem:hover {
    transition: 0.3s;
    background-color: rgba(252, 212, 8, 1);
    color: black;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    animation: vibration 0.5s infinite;
}

.beaconDeleteButton {
    cursor: pointer;
    display: flex;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    z-index: 999;
}

.beaconDeleteButton:hover {
    transition: 0.3s;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

.ModaldeleteButton,
.sosAcceptButton,
.deleteModalCloseButton,
.sosDenyButton {
    cursor: pointer;
    width: 50%;
}

.deleteModalContent {
    width: 100%;
    height: 100%;
}

.yesNoContainer {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModaldeleteButton:hover {
    color: red;
}

.sosAcceptButton:hover {
    color: black;
    font-weight: bold;
}

.deleteModalCloseButton:hover {
    color: blue;
}

.deleteDes {
    height: 40%;
}

.stationInfo {
}

@keyframes sos {
    0% {
        background-color: white;
        color: red;
    }
    50% {
        background-color: red;
        color: white;
    }
    0% {
        background-color: white;
        color: red;
    }
}
