@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PyeongChangPeace";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2")
        format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-semi";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TheJamsil5Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
        format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "TheJamsil4Medium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil4Medium.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "TheJamsil3Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2")
        format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "NeoDunggeunmo";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@keyframes vibration {
    from {
        transform: rotate(1deg);
    }
    to {
        transform: rotate(-1deg);
    }
}

/*input type number 하면 기본으로 생성되는 + - 작은 스크롤 없애기  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="text"],
input[type="number"] {
    width: 80%;
    padding: 8px;
    border: 1px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
}

input[type="text"]:focus,
input[type="number"]:focus {
    font-weight: bold;
}

/* scroll*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(252, 212, 8, 1);
    max-height: 40px;

    border-radius: 50px;
}

/* 가로 스크롤 바 */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 50px;
}
